.github-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
  }
  
  .github-icon .material-icons {
    vertical-align: middle;
  }